registry=http://localhost:2020/npm/meet-up1/
//localhost:2020/npm/meet-up1/:_password="cGFzc3dvcmQ="
//localhost:2020/npm/meet-up1/:username=user
//localhost:2020/npm/meet-up1/:email=user@user.com
//localhost:2020/npm/meet-up1/:always-auth=false